body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 483px;
    height: 298px;
    background: #676470;
    transition: all 0.3s;
}

/* Inserir borda */

.border:hover
{
        box-shadow: inset 0 0 0 25px #C4141C;
}